// Override default variables before the import
$theme-colors: (
  "primary": #3E9593,
  "danger": #ff4136
);

.nav{
  background: #3E9593;
}

.nav-link{
  color:#FFFFFF !important;
}

.navbar-toggler{
  background-color:#FFFFFF !important;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.navbar-toggler{
  margin-right: 10px;
}

.titulo{
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.col{
  border: 1px solid #3E9593;
}

.navbar{
  margin-right: -20px;;
 }
 
 .material-icons{
  color: #3E9593;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';